In [1]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql import functions as F

In [2]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/home/spark/spark-3.2.3-bin-hadoop3.2/jars/spark-unsafe_2.12-3.2.3.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/03/04 18:44:42 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
df_green = spark.read.parquet('data/pq/green/*/*')

In [4]:
df_green.createOrReplaceTempView('green')

In [9]:
df_green_revenue = spark.sql("""
SELECT 
    date_trunc('hour', lpep_pickup_datetime) AS hour, 
    PULocationID AS zone,
    SUM(total_amount) AS amount,
    COUNT(1) AS number_of_records
FROM
    green
WHERE
    lpep_pickup_datetime >= '2020-01-01 00:00:00'
GROUP BY
    1, 2
""")

In [10]:
df_green_revenue.show()

+-------------------+----+------------------+-----------------+
|               hour|zone|            amount|number_of_records|
+-------------------+----+------------------+-----------------+
|2020-01-01 00:00:00|   7| 769.7299999999997|               45|
|2020-01-01 00:00:00|  17|            195.03|                9|
|2020-01-01 00:00:00|  18|               7.8|                1|
|2020-01-01 00:00:00|  22|              15.8|                1|
|2020-01-01 00:00:00|  24|              87.6|                3|
|2020-01-01 00:00:00|  25|             531.0|               26|
|2020-01-01 00:00:00|  29|              61.3|                1|
|2020-01-01 00:00:00|  32| 68.94999999999999|                2|
|2020-01-01 00:00:00|  33|317.27000000000004|               11|
|2020-01-01 00:00:00|  35|129.95999999999998|                5|
|2020-01-01 00:00:00|  36|295.34000000000003|               11|
|2020-01-01 00:00:00|  37|175.67000000000002|                6|
|2020-01-01 00:00:00|  38| 98.78999999999999|                2|
|2020-01-01 00:00:00|  40|168.98000000000002|                8|
|2020-01-01 00:00:00|  41|1363.9599999999987|               84|
|2020-01-01 00:00:00|  42| 799.7599999999994|               52|
|2020-01-01 00:00:00|  43|            107.52|                6|
|2020-01-01 00:00:00|  47|              13.3|                1|
|2020-01-01 00:00:00|  49|266.76000000000005|               14|
|2020-01-01 00:00:00|  51|              17.8|                2|
+-------------------+----+------------------+-----------------+
only showing top 20 rows

In [22]:
df_green_revenue.repartition(20).write.parquet('data/report/revenue/green', mode='overwrite')

In [14]:
df_yellow = spark.read.parquet('data/pq/yellow/*/*')

In [16]:
df_yellow.createOrReplaceTempView('yellow')

In [19]:
df_yellow_revenue = spark.sql("""
SELECT 
    date_trunc('hour', tpep_pickup_datetime) AS hour, 
    PULocationID AS zone,
    SUM(total_amount) AS amount,
    COUNT(1) AS number_of_records
FROM
    yellow
WHERE
    tpep_pickup_datetime >= '2020-01-01 00:00:00'
GROUP BY
    1, 2
""")

In [20]:
df_yellow_revenue.show()

+-------------------+----+------------------+-----------------+
|               hour|zone|            amount|number_of_records|
+-------------------+----+------------------+-----------------+
|2020-01-03 19:00:00| 142| 6023.090000000007|              403|
|2020-01-26 14:00:00| 239| 6541.650000000012|              437|
|2020-01-09 01:00:00| 100|            653.56|               37|
|2020-01-31 18:00:00| 237|12689.400000000034|              810|
|2020-01-04 03:00:00| 246| 2092.539999999999|              121|
|2020-01-14 09:00:00| 239| 4882.360000000001|              298|
|2020-01-27 16:00:00| 162| 7989.980000000011|              452|
|2020-01-17 20:00:00| 170|6884.1900000000105|              407|
|2020-01-23 15:00:00| 142| 5378.830000000004|              341|
|2020-01-27 06:00:00|  24|            536.49|               23|
|2020-01-01 04:00:00| 170| 2306.199999999999|              135|
|2020-01-05 12:00:00|  68|3495.9599999999973|              235|
|2020-01-13 17:00:00| 107|4066.6799999999967|              241|
|2020-01-21 19:00:00| 162|13136.410000000036|              784|
|2020-01-31 09:00:00| 143|3632.0899999999974|              221|
|2020-01-23 03:00:00|  79|1392.7399999999998|               45|
|2020-01-03 13:00:00| 163| 5333.470000000002|              327|
|2020-01-02 10:00:00| 161| 5319.220000000001|              309|
|2020-01-13 16:00:00|  45|            800.53|               34|
|2020-01-30 07:00:00|  75|2127.8499999999985|              135|
+-------------------+----+------------------+-----------------+
only showing top 20 rows

In [23]:
df_yellow_revenue.repartition(20).write.parquet('data/report/revenue/yellow', mode='overwrite')

In [38]:
# Instead of doing chain of computation do first part, save the result & in next step read the results of the first part
# This process is known as materialising

df_green_revenue = spark.read.parquet('data/report/revenue/green/')
df_yellow_revenue = spark.read.parquet('data/report/revenue/yellow/')

In [66]:
df_green_revenue

DataFrame[hour: timestamp, zone: int, amount: double, number_of_records: bigint]

In [67]:
df_yellow_revenue

DataFrame[hour: timestamp, zone: int, amount: double, number_of_records: bigint]

In [39]:
df_green_revenue_tmp = df_green_revenue \
                        .withColumnRenamed('amount', 'green_amount') \
                        .withColumnRenamed('number_of_records', 'green_number_of_records')

df_yellow_revenue_tmp = df_yellow_revenue \
                        .withColumnRenamed('amount', 'yellow_amount') \
                        .withColumnRenamed('number_of_records', 'yellow_number_of_records')

In [64]:
df_green_revenue_tmp

DataFrame[hour: timestamp, zone: int, green_amount: double, green_number_of_records: bigint]

In [65]:
df_yellow_revenue_tmp

DataFrame[hour: timestamp, zone: int, yellow_amount: double, yellow_number_of_records: bigint]

In [40]:
df_join = df_green_revenue_tmp.join(df_yellow_revenue_tmp, on=['hour', 'zone'], how='outer')

In [42]:
df_join.show()

+-------------------+----+------------------+-----------------------+------------------+------------------------+
|               hour|zone|      green_amount|green_number_of_records|     yellow_amount|yellow_number_of_records|
+-------------------+----+------------------+-----------------------+------------------+------------------------+
|2020-01-01 00:00:00|  22|              15.8|                      1|              null|                    null|
|2020-01-01 00:00:00|  25|             531.0|                     26|            324.35|                      16|
|2020-01-01 00:00:00|  55|129.29000000000002|                      4|              null|                    null|
|2020-01-01 00:00:00|  56|             99.69|                      3|              18.1|                       2|
|2020-01-01 00:00:00|  60|            160.04|                      6|57.620000000000005|                       2|
|2020-01-01 00:00:00|  61|            526.71|                     17|            146.64|                       3|
|2020-01-01 00:00:00|  65|            199.49|                     10|            409.35|                      19|
|2020-01-01 00:00:00|  71|              23.8|                      1|              null|                    null|
|2020-01-01 00:00:00|  78|             34.46|                      2|              null|                    null|
|2020-01-01 00:00:00|  85|             64.76|                      4|            102.56|                       3|
|2020-01-01 00:00:00|  88|              null|                   null| 823.8000000000002|                      36|
|2020-01-01 00:00:00| 106|             10.56|                      1|              null|                    null|
|2020-01-01 00:00:00| 112|312.26000000000005|                     18|119.47999999999999|                       8|
|2020-01-01 00:00:00| 113|              null|                   null| 3984.319999999997|                     220|
|2020-01-01 00:00:00| 145|             65.14|                      4|            365.87|                      18|
|2020-01-01 00:00:00| 148|              null|                   null| 6790.150000000008|                     371|
|2020-01-01 00:00:00| 151|              null|                   null|2536.9599999999978|                     148|
|2020-01-01 00:00:00| 159|              13.8|                      1|              58.8|                       2|
|2020-01-01 00:00:00| 161|              null|                   null| 9410.210000000021|                     488|
|2020-01-01 00:00:00| 162|              null|                   null| 4622.289999999997|                     268|
+-------------------+----+------------------+-----------------------+------------------+------------------------+
only showing top 20 rows

In [43]:
df_join.write.parquet('data/report/revenue/total', mode='overwrite')

In [44]:
df_join = spark.read.parquet('data/report/revenue/total')

In [46]:
df_join.show()

+-------------------+----+------------------+-----------------------+------------------+------------------------+
|               hour|zone|      green_amount|green_number_of_records|     yellow_amount|yellow_number_of_records|
+-------------------+----+------------------+-----------------------+------------------+------------------------+
|2020-01-01 00:00:00|   4|              null|                   null|1004.3000000000002|                      57|
|2020-01-01 00:00:00|  15|              null|                   null|             34.09|                       1|
|2020-01-01 00:00:00|  35|129.95999999999998|                      5|              null|                    null|
|2020-01-01 00:00:00|  43|            107.52|                      6| 6539.510000000009|                     390|
|2020-01-01 00:00:00|  45|              null|                   null| 732.4800000000002|                      42|
|2020-01-01 00:00:00|  47|              13.3|                      1|               8.3|                       1|
|2020-01-01 00:00:00|  50|              null|                   null| 4177.479999999998|                     183|
|2020-01-01 00:00:00|  62|             15.95|                      1|             61.43|                       1|
|2020-01-01 00:00:00|  63|              51.9|                      2|              70.8|                       1|
|2020-01-01 00:00:00|  70|54.900000000000006|                      3|               9.3|                       1|
|2020-01-01 00:00:00|  74| 317.0900000000001|                     24| 586.2100000000003|                      47|
|2020-01-01 00:00:00|  79|              null|                   null| 12573.81000000003|                     721|
|2020-01-01 00:00:00|  82| 305.1200000000001|                     28|              29.8|                       1|
|2020-01-01 00:00:00|  83|              94.1|                      7|               9.8|                       1|
|2020-01-01 00:00:00|  92|             80.72|                      3|              75.3|                       1|
|2020-01-01 00:00:00| 116| 328.7600000000001|                     18| 561.5100000000001|                      34|
|2020-01-01 00:00:00| 127|              null|                   null|43.900000000000006|                       3|
|2020-01-01 00:00:00| 132|              null|                   null| 6786.390000000004|                     139|
|2020-01-01 00:00:00| 134|             69.05|                      6|              null|                    null|
|2020-01-01 00:00:00| 136|            111.68|                      2|             168.0|                       4|
+-------------------+----+------------------+-----------------------+------------------+------------------------+
only showing top 20 rows

In [55]:
!ls zones

_SUCCESS  part-00000-e993c72a-53da-4cd5-9cd9-eff7b831c60d-c000.snappy.parquet

In [56]:
df_zones = spark.read.parquet('zones/')

In [57]:
df_zones.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [58]:
# Joining smaller table on bigger one
df_result = df_join.join(df_zones, df_join.zone == df_zones.LocationID)

In [61]:
df_result.drop('LocationID', 'zone').show()

+-------------------+------------------+-----------------------+------------------+------------------------+---------+------------+
|               hour|      green_amount|green_number_of_records|     yellow_amount|yellow_number_of_records|  Borough|service_zone|
+-------------------+------------------+-----------------------+------------------+------------------------+---------+------------+
|2020-01-01 00:00:00|              null|                   null|1004.3000000000002|                      57|Manhattan| Yellow Zone|
|2020-01-01 00:00:00|              null|                   null|             34.09|                       1|   Queens|   Boro Zone|
|2020-01-01 00:00:00|129.95999999999998|                      5|              null|                    null| Brooklyn|   Boro Zone|
|2020-01-01 00:00:00|            107.52|                      6| 6539.510000000009|                     390|Manhattan| Yellow Zone|
|2020-01-01 00:00:00|              null|                   null| 732.4800000000002|                      42|Manhattan| Yellow Zone|
|2020-01-01 00:00:00|              13.3|                      1|               8.3|                       1|    Bronx|   Boro Zone|
|2020-01-01 00:00:00|              null|                   null| 4177.479999999998|                     183|Manhattan| Yellow Zone|
|2020-01-01 00:00:00|             15.95|                      1|             61.43|                       1| Brooklyn|   Boro Zone|
|2020-01-01 00:00:00|              51.9|                      2|              70.8|                       1| Brooklyn|   Boro Zone|
|2020-01-01 00:00:00|54.900000000000006|                      3|               9.3|                       1|   Queens|   Boro Zone|
|2020-01-01 00:00:00| 317.0900000000001|                     24| 586.2100000000003|                      47|Manhattan|   Boro Zone|
|2020-01-01 00:00:00|              null|                   null| 12573.81000000003|                     721|Manhattan| Yellow Zone|
|2020-01-01 00:00:00| 305.1200000000001|                     28|              29.8|                       1|   Queens|   Boro Zone|
|2020-01-01 00:00:00|              94.1|                      7|               9.8|                       1|   Queens|   Boro Zone|
|2020-01-01 00:00:00|             80.72|                      3|              75.3|                       1|   Queens|   Boro Zone|
|2020-01-01 00:00:00| 328.7600000000001|                     18| 561.5100000000001|                      34|Manhattan|   Boro Zone|
|2020-01-01 00:00:00|              null|                   null|43.900000000000006|                       3|Manhattan|   Boro Zone|
|2020-01-01 00:00:00|              null|                   null| 6786.390000000004|                     139|   Queens|    Airports|
|2020-01-01 00:00:00|             69.05|                      6|              null|                    null|   Queens|   Boro Zone|
|2020-01-01 00:00:00|            111.68|                      2|             168.0|                       4|    Bronx|   Boro Zone|
+-------------------+------------------+-----------------------+------------------+------------------------+---------+------------+
only showing top 20 rows

In [62]:
df_result.drop('LocationID', 'zone').write.parquet('tmp/revenue-zones')